            /*body {
	height: 100%;
        background: linear-gradient(to top, #0099cc 44%, #7777ff 79%);
        font-family: 'Ubuntu', sans-serif;
	position: relative;
	padding-top: 5em;
    }*/
        /* Header */
        
        #header {
            background: #1c1c1c;
            color: #d5d5d5;
            cursor: default;
            height: 5em;
            left: 0;
            line-height: 5em;
            position: fixed;
            text-align: right;
            top: 0;
            width: 100%;
            z-index: 10001;
        }
        
        #header .inner {
            max-width: 100em;
            width: calc(100% - 6em);
            margin: 0 auto;
            position: relative;
        }
        
        @media screen and (max-width: 480px) {
            #header .inner {
                max-width: 90%;
                width: 90%;
            }
        }
        
        #header .logo {
            font-family: 'Pacifico', cursive;
            display: inline-block;
            height: inherit;
            left: 0;
            line-height: inherit;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            color: #e5474b;
            font-size: 1.75em;
            text-transform: none;
            font-weight: normal;
            padding: 0;
        }
        
        #header .logo:hover {
            color: rgba(229, 71, 75, 0.75);
        }
        
        #header a {
            -moz-transition: color 0.2s ease-in-out;
            -webkit-transition: color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
            display: inline-block;
            padding: 0 2em;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            font-size: .85em;
        }
        
        #header a:hover {
            color: rgba(255, 255, 255, 0.75);
        }
        
        #header a:last-child {
            padding-right: 0em;
        }
        
        @media screen and (max-width: 736px) {
            #header a {
                padding: 0 0.5em;
            }
        }
        
        @media screen and (max-width: 480px) {
            #header {
                min-width: 320px;
            }
        }
        /*rest*/
        
        .main {
            background-color: #FFFFFF;
            width: 400px;
            height: 500px;
            margin: 7em auto;
            border: 2px solid black;
            border-radius: 1.5em;
            box-shadow: 0px 20px 50px 6px rgba(0, 0, 0, 0.14);
        }
        
        .sign {
            padding-top: 40px;
            margin-bottom: -30px;
            color: #8C55AA;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 23px;
        }
        
        .un {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }
        
        form.form1 {
            padding-top: 40px;
        }
        
        .pass {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }
        
        .un:focus,
        .pass:focus {
            border: 2px solid rgba(0, 0, 0, 0.18) !important;
        }
        
        .submit {
            cursor: pointer;
            border-radius: 5em;
            color: #fff;
            background: linear-gradient(to right, #9C27B0, #E040FB);
            border: 0;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
            font-family: 'Ubuntu', sans-serif;
            margin-left: 35%;
            font-size: 13px;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        }
        
        .quote {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: #003300;
            font-size: 15px;
        }
        
        .forgot {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: #E1BEE7;
            padding-top: 15px;
        }
        
        a {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: #E1BEE7;
            text-decoration: none
        }
        
        @media (max-width: 600px) {
            .main {
                border-radius: 0px;
            }